VAPI --- GHL .blueprint (2).json
{
    "name": "VAPI <-> GHL ",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 962186,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 600
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "My gateway-webhook webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "variables": [
                    {
                        "name": "locationId",
                        "value": "U2X2M25vgkfl3BIOoVlT"
                    },
                    {
                        "name": "calendarId",
                        "value": "csObwq2tZZUHcJxV2Ir7"
                    },
                    {
                        "name": "ghlApiKey",
                        "value": ""
                    }
                ],
                "scope": "roundtrip"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 600,
                    "name": "Set Variables"
                },
                "restore": {
                    "expect": {
                        "variables": {
                            "items": [
                                null,
                                null,
                                null
                            ]
                        },
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "type": "array",
                        "label": "Variables",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Variable name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Variable value",
                                "type": "any"
                            }
                        ]
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "locationId",
                        "label": "locationId",
                        "type": "any"
                    },
                    {
                        "name": "calendarId",
                        "label": "calendarId",
                        "type": "any"
                    },
                    {
                        "name": "ghlApiKey",
                        "label": "ghlApiKey",
                        "type": "any"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 600
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "getOpenSlots",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.message.toolCalls[].function.name}}",
                                            "b": "zain_make_tool",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "name": "startDate",
                                "scope": "roundtrip",
                                "value": "{{formatDate(1.message.toolCalls[].function.arguments.requestedAppointment; \"x\")}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0,
                                    "name": "Start Date"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "startDate",
                                        "type": "any",
                                        "label": "startDate"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 5,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "addDay",
                                "scope": "roundtrip",
                                "value": "{{addDays(4.startDate; 1)}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0,
                                    "name": "Add A Day"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "addDay",
                                        "type": "any",
                                        "label": "addDay"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "endDate",
                                "scope": "roundtrip",
                                "value": "{{formatDate(5.addDay; \"x\")}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0,
                                    "name": "End Date"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "endDate",
                                        "type": "any",
                                        "label": "endDate"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": true,
                                "useNewZLibDeCompress": true
                            },
                            "mapper": {
                                "ca": "",
                                "qs": [
                                    {
                                        "name": "startDate",
                                        "value": "{{4.startDate}}"
                                    },
                                    {
                                        "name": "endDate",
                                        "value": "{{6.endDate}}"
                                    }
                                ],
                                "url": "https://services.leadconnectorhq.com/calendars/{{2.calendarId}}/free-slots",
                                "gzip": true,
                                "method": "get",
                                "headers": [
                                    {
                                        "name": "Authorization",
                                        "value": "Bearer {{2.ghlApiKey}}"
                                    },
                                    {
                                        "name": "Version",
                                        "value": "2021-04-15"
                                    }
                                ],
                                "timeout": "",
                                "useMtls": false,
                                "authPass": "",
                                "authUser": "",
                                "bodyType": "",
                                "serializeUrl": false,
                                "shareCookies": false,
                                "parseResponse": false,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0,
                                    "name": "Get Open Slots"
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose",
                                            "items": [
                                                null,
                                                null
                                            ]
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "GET"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null,
                                                null
                                            ]
                                        },
                                        "bodyType": {
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    },
                                    {
                                        "name": "useNewZLibDeCompress",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate"
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "{\n    \"results\": [\n        {\n            \"toolCallId\": \"{{1.message.toolCalls[].id}}\",\n            \"result\": {{7.data}}\n        }\n    ]\n}",
                                "status": "200",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": true,
                                "useNewZLibDeCompress": true
                            },
                            "filter": {
                                "name": "bookAppointment",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.message.toolCalls[].function.name}}",
                                            "b": "bookAppointment",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "ca": "",
                                "qs": [],
                                "url": "https://services.leadconnectorhq.com/contacts/search",
                                "data": "{\n  \"query\": \"{{ifempty(1.message.toolCalls[].function.arguments.phone; 1.message.toolCalls[].function.arguments.name)}}\",\n  \"locationId\": \"{{2.locationId}}\",\n  \"pageLimit\": 1\n}",
                                "gzip": true,
                                "method": "post",
                                "headers": [
                                    {
                                        "name": "Authorization",
                                        "value": "Bearer {{2.ghlApiKey}}"
                                    },
                                    {
                                        "name": "Version",
                                        "value": "2021-07-28"
                                    }
                                ],
                                "timeout": "",
                                "useMtls": false,
                                "authPass": "",
                                "authUser": "",
                                "bodyType": "raw",
                                "contentType": "application/json",
                                "serializeUrl": false,
                                "shareCookies": false,
                                "parseResponse": true,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 750,
                                    "name": "Search Contacts"
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null,
                                                null
                                            ]
                                        },
                                        "bodyType": {
                                            "label": "Raw"
                                        },
                                        "contentType": {
                                            "label": "JSON (application/json)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    },
                                    {
                                        "name": "useNewZLibDeCompress",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate"
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content type",
                                        "validate": {
                                            "enum": [
                                                "text/plain",
                                                "application/json",
                                                "application/xml",
                                                "text/xml",
                                                "text/html",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Request content"
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 29,
                            "module": "util:SetVariables",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "scope": "roundtrip",
                                "variables": [
                                    {
                                        "name": "message",
                                        "value": "{{1.message.artifact.messagesOpenAIFormatted}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 750
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        },
                                        "variables": {
                                            "items": [
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Variable name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Variable value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "message",
                                        "type": "any",
                                        "label": "message"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "parameters": {
                                "else": 1
                            },
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 750
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 11,
                                            "module": "util:SetVariable2",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "Contact Found",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{9.data.total}}",
                                                            "b": "0",
                                                            "o": "number:greater"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "name": "contactId",
                                                "scope": "roundtrip",
                                                "value": "{{9.data.contacts[].id}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 450,
                                                    "name": "Contact ID"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "scope": {
                                                            "label": "One cycle"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Variable name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "scope",
                                                        "type": "select",
                                                        "label": "Variable lifetime",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "roundtrip",
                                                                "execution"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "any",
                                                        "label": "Variable value"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "contactId",
                                                        "type": "any",
                                                        "label": "contactId"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 12,
                                            "module": "http:ActionSendData",
                                            "version": 3,
                                            "parameters": {
                                                "handleErrors": true,
                                                "useNewZLibDeCompress": true
                                            },
                                            "mapper": {
                                                "ca": "",
                                                "qs": [],
                                                "url": "https://services.leadconnectorhq.com/calendars/events/appointments",
                                                "data": "{\n  \"calendarId\": \"{{2.calendarId}}\",\n  \"locationId\": \"{{2.locationId}}\",\n  \"contactId\": \"{{11.contactId}}\",\n  \"startTime\": \"{{1.message.toolCalls[].function.arguments.requestedAppointment}}\"\n}",
                                                "gzip": true,
                                                "method": "post",
                                                "headers": [
                                                    {
                                                        "name": "Authorization",
                                                        "value": "Bearer {{2.ghlApiKey}}"
                                                    },
                                                    {
                                                        "name": "Version",
                                                        "value": "2021-04-15"
                                                    }
                                                ],
                                                "timeout": "",
                                                "useMtls": false,
                                                "authPass": "",
                                                "authUser": "",
                                                "bodyType": "raw",
                                                "contentType": "application/json",
                                                "serializeUrl": false,
                                                "shareCookies": false,
                                                "parseResponse": false,
                                                "followRedirect": true,
                                                "useQuerystring": false,
                                                "followAllRedirects": false,
                                                "rejectUnauthorized": true
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 450,
                                                    "name": "Book Appointment"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "qs": {
                                                            "mode": "chose"
                                                        },
                                                        "method": {
                                                            "mode": "chose",
                                                            "label": "POST"
                                                        },
                                                        "headers": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null,
                                                                null
                                                            ]
                                                        },
                                                        "bodyType": {
                                                            "label": "Raw"
                                                        },
                                                        "contentType": {
                                                            "label": "JSON (application/json)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "handleErrors",
                                                        "type": "boolean",
                                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useNewZLibDeCompress",
                                                        "type": "hidden"
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "serializeUrl",
                                                        "type": "boolean",
                                                        "label": "Serialize URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "method",
                                                        "type": "select",
                                                        "label": "Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "get",
                                                                "head",
                                                                "post",
                                                                "put",
                                                                "patch",
                                                                "delete",
                                                                "options"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Headers"
                                                    },
                                                    {
                                                        "name": "qs",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Query String"
                                                    },
                                                    {
                                                        "name": "bodyType",
                                                        "type": "select",
                                                        "label": "Body type",
                                                        "validate": {
                                                            "enum": [
                                                                "raw",
                                                                "x_www_form_urlencoded",
                                                                "multipart_form_data"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "parseResponse",
                                                        "type": "boolean",
                                                        "label": "Parse response",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "authUser",
                                                        "type": "text",
                                                        "label": "User name"
                                                    },
                                                    {
                                                        "name": "authPass",
                                                        "type": "password",
                                                        "label": "Password"
                                                    },
                                                    {
                                                        "name": "timeout",
                                                        "type": "uinteger",
                                                        "label": "Timeout",
                                                        "validate": {
                                                            "max": 300,
                                                            "min": 1
                                                        }
                                                    },
                                                    {
                                                        "name": "shareCookies",
                                                        "type": "boolean",
                                                        "label": "Share cookies with other HTTP modules",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "ca",
                                                        "type": "cert",
                                                        "label": "Self-signed certificate"
                                                    },
                                                    {
                                                        "name": "rejectUnauthorized",
                                                        "type": "boolean",
                                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "followRedirect",
                                                        "type": "boolean",
                                                        "label": "Follow redirect",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useQuerystring",
                                                        "type": "boolean",
                                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "gzip",
                                                        "type": "boolean",
                                                        "label": "Request compressed content",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useMtls",
                                                        "type": "boolean",
                                                        "label": "Use Mutual TLS",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "contentType",
                                                        "type": "select",
                                                        "label": "Content type",
                                                        "validate": {
                                                            "enum": [
                                                                "text/plain",
                                                                "application/json",
                                                                "application/xml",
                                                                "text/xml",
                                                                "text/html",
                                                                "custom"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "data",
                                                        "type": "buffer",
                                                        "label": "Request content"
                                                    },
                                                    {
                                                        "name": "followAllRedirects",
                                                        "type": "boolean",
                                                        "label": "Follow all redirect",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 14,
                                                    "module": "gateway:WebhookRespond",
                                                    "version": 1,
                                                    "parameters": {},
                                                    "mapper": {
                                                        "body": "{\n    \"results\": [\n        {\n            \"toolCallId\": \"{{1.message.toolCalls[].id}}\",\n            \"result\": \"Unsuccessful booking, try choosing another date or time.\"\n        }\n    ]\n}",
                                                        "status": "200",
                                                        "headers": []
                                                    },
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 2361,
                                                            "y": 675,
                                                            "name": "Unsuccessful Booking"
                                                        },
                                                        "restore": {
                                                            "expect": {
                                                                "headers": {
                                                                    "mode": "chose"
                                                                }
                                                            }
                                                        },
                                                        "expect": [
                                                            {
                                                                "name": "status",
                                                                "type": "uinteger",
                                                                "label": "Status",
                                                                "required": true,
                                                                "validate": {
                                                                    "min": 100
                                                                }
                                                            },
                                                            {
                                                                "name": "body",
                                                                "type": "any",
                                                                "label": "Body"
                                                            },
                                                            {
                                                                "name": "headers",
                                                                "spec": [
                                                                    {
                                                                        "name": "key",
                                                                        "type": "text",
                                                                        "label": "Key",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 256
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "Value",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 4096
                                                                        }
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Custom headers",
                                                                "validate": {
                                                                    "maxItems": 16
                                                                }
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "id": 13,
                                            "module": "gateway:WebhookRespond",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "body": "{\n    \"results\": [\n        {\n            \"toolCallId\": \"{{1.message.toolCalls[].id}}\",\n            \"result\": \"We've successfully booked the appointment.\"\n        }\n    ]\n}",
                                                "status": "200",
                                                "headers": []
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2400,
                                                    "y": 300,
                                                    "name": "Successful Booking"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "headers": {
                                                            "mode": "chose"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "status",
                                                        "type": "uinteger",
                                                        "label": "Status",
                                                        "required": true,
                                                        "validate": {
                                                            "min": 100
                                                        }
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 256
                                                                }
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 4096
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Custom headers",
                                                        "validate": {
                                                            "maxItems": 16
                                                        }
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 32,
                                            "module": "builtin:BasicFeeder",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "array": "{{1.message.artifact.messagesOpenAIFormatted}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2798,
                                                    "y": 226
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "array": {
                                                            "mode": "edit"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "mode": "edit",
                                                        "name": "array",
                                                        "spec": [],
                                                        "type": "array",
                                                        "label": "Array"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 34,
                                            "module": "util:TextAggregator",
                                            "version": 1,
                                            "parameters": {
                                                "feeder": 32,
                                                "rowSeparator": ""
                                            },
                                            "mapper": {
                                                "value": "{{32.content}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3121,
                                                    "y": 115
                                                },
                                                "restore": {
                                                    "extra": {
                                                        "feeder": {
                                                            "label": "Iterator [32]"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "rowSeparator": {
                                                            "label": "Empty"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "rowSeparator",
                                                        "type": "select",
                                                        "label": "Row separator",
                                                        "validate": {
                                                            "enum": [
                                                                "\n",
                                                                "\t",
                                                                "other"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Text"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 40,
                                            "module": "json:ParseJSON",
                                            "version": 1,
                                            "parameters": {
                                                "type": ""
                                            },
                                            "mapper": {
                                                "json": "{{12.data}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3472,
                                                    "y": 72
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "type": {
                                                            "label": "Choose a data structure"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "type",
                                                        "type": "udt",
                                                        "label": "Data structure"
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "json",
                                                        "type": "text",
                                                        "label": "JSON string",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 35,
                                            "module": "json:TransformToJSON",
                                            "version": 1,
                                            "parameters": {
                                                "space": ""
                                            },
                                            "mapper": {
                                                "object": "{{34.text}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3772,
                                                    "y": 72
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "space": {
                                                            "label": "Empty"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "space",
                                                        "type": "select",
                                                        "label": "Indentation",
                                                        "validate": {
                                                            "enum": [
                                                                "tab",
                                                                "2",
                                                                "4"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "object",
                                                        "type": "any",
                                                        "label": "Object"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 31,
                                            "module": "http:ActionSendData",
                                            "version": 3,
                                            "parameters": {
                                                "handleErrors": true,
                                                "useNewZLibDeCompress": true
                                            },
                                            "mapper": {
                                                "url": "https://services.leadconnectorhq.com/calendars/appointments/{{40.id}}/notes",
                                                "serializeUrl": false,
                                                "method": "post",
                                                "headers": [
                                                    {
                                                        "name": "Authorization",
                                                        "value": "Bearer GHL_API_KEY"
                                                    },
                                                    {
                                                        "name": "Version",
                                                        "value": "2021-04-15"
                                                    }
                                                ],
                                                "qs": [],
                                                "bodyType": "raw",
                                                "parseResponse": false,
                                                "authUser": "",
                                                "authPass": "",
                                                "timeout": "",
                                                "shareCookies": false,
                                                "ca": "",
                                                "rejectUnauthorized": true,
                                                "followRedirect": true,
                                                "useQuerystring": false,
                                                "gzip": true,
                                                "useMtls": false,
                                                "contentType": "application/json",
                                                "data": "{\r\n  \"body\":{{35.json}}\n}",
                                                "followAllRedirects": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 4088,
                                                    "y": 29,
                                                    "name": "Add Notes"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "method": {
                                                            "mode": "chose",
                                                            "label": "POST"
                                                        },
                                                        "headers": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null,
                                                                null
                                                            ]
                                                        },
                                                        "qs": {
                                                            "mode": "chose"
                                                        },
                                                        "bodyType": {
                                                            "label": "Raw"
                                                        },
                                                        "contentType": {
                                                            "label": "JSON (application/json)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "handleErrors",
                                                        "type": "boolean",
                                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useNewZLibDeCompress",
                                                        "type": "hidden"
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "serializeUrl",
                                                        "type": "boolean",
                                                        "label": "Serialize URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "method",
                                                        "type": "select",
                                                        "label": "Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "get",
                                                                "head",
                                                                "post",
                                                                "put",
                                                                "patch",
                                                                "delete",
                                                                "options"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "type": "array",
                                                        "label": "Headers",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "label": "Name",
                                                                "type": "text",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "label": "Value",
                                                                "type": "text"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "qs",
                                                        "type": "array",
                                                        "label": "Query String",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "label": "Name",
                                                                "type": "text",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "label": "Value",
                                                                "type": "text"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "bodyType",
                                                        "type": "select",
                                                        "label": "Body type",
                                                        "validate": {
                                                            "enum": [
                                                                "raw",
                                                                "x_www_form_urlencoded",
                                                                "multipart_form_data"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "parseResponse",
                                                        "type": "boolean",
                                                        "label": "Parse response",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "authUser",
                                                        "type": "text",
                                                        "label": "User name"
                                                    },
                                                    {
                                                        "name": "authPass",
                                                        "type": "password",
                                                        "label": "Password"
                                                    },
                                                    {
                                                        "name": "timeout",
                                                        "type": "uinteger",
                                                        "label": "Timeout",
                                                        "validate": {
                                                            "max": 300,
                                                            "min": 1
                                                        }
                                                    },
                                                    {
                                                        "name": "shareCookies",
                                                        "type": "boolean",
                                                        "label": "Share cookies with other HTTP modules",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "ca",
                                                        "type": "cert",
                                                        "label": "Self-signed certificate"
                                                    },
                                                    {
                                                        "name": "rejectUnauthorized",
                                                        "type": "boolean",
                                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "followRedirect",
                                                        "type": "boolean",
                                                        "label": "Follow redirect",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useQuerystring",
                                                        "type": "boolean",
                                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "gzip",
                                                        "type": "boolean",
                                                        "label": "Request compressed content",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useMtls",
                                                        "type": "boolean",
                                                        "label": "Use Mutual TLS",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "contentType",
                                                        "type": "select",
                                                        "label": "Content type",
                                                        "validate": {
                                                            "enum": [
                                                                "text/plain",
                                                                "application/json",
                                                                "application/xml",
                                                                "text/xml",
                                                                "text/html",
                                                                "custom"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "data",
                                                        "type": "buffer",
                                                        "label": "Request content"
                                                    },
                                                    {
                                                        "name": "followAllRedirects",
                                                        "type": "boolean",
                                                        "label": "Follow all redirect",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 15,
                                            "module": "http:ActionSendData",
                                            "version": 3,
                                            "parameters": {
                                                "handleErrors": true,
                                                "useNewZLibDeCompress": true
                                            },
                                            "filter": {
                                                "name": "Contact Not Found",
                                                "conditions": []
                                            },
                                            "mapper": {
                                                "ca": "",
                                                "qs": [],
                                                "url": "https://services.leadconnectorhq.com/contacts",
                                                "data": "{\n  \"name\": \"{{1.message.toolCalls[].function.arguments.name}}\",\n  \"locationId\": \"{{2.locationId}}\",\n  \"phone\": \"{{1.message.toolCalls[].function.arguments.phone}}\"\n}",
                                                "gzip": true,
                                                "method": "post",
                                                "headers": [
                                                    {
                                                        "name": "Authorization",
                                                        "value": "Bearer {{2.ghlApiKey}}"
                                                    },
                                                    {
                                                        "name": "Version",
                                                        "value": "2021-07-28"
                                                    }
                                                ],
                                                "timeout": "",
                                                "useMtls": false,
                                                "authPass": "",
                                                "authUser": "",
                                                "bodyType": "raw",
                                                "contentType": "application/json",
                                                "serializeUrl": false,
                                                "shareCookies": false,
                                                "parseResponse": true,
                                                "followRedirect": true,
                                                "useQuerystring": false,
                                                "followAllRedirects": false,
                                                "rejectUnauthorized": true
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 1050,
                                                    "name": "Create Contact"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "qs": {
                                                            "mode": "chose"
                                                        },
                                                        "method": {
                                                            "mode": "chose",
                                                            "label": "POST"
                                                        },
                                                        "headers": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null,
                                                                null
                                                            ]
                                                        },
                                                        "bodyType": {
                                                            "label": "Raw"
                                                        },
                                                        "contentType": {
                                                            "label": "JSON (application/json)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "handleErrors",
                                                        "type": "boolean",
                                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useNewZLibDeCompress",
                                                        "type": "hidden"
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "serializeUrl",
                                                        "type": "boolean",
                                                        "label": "Serialize URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "method",
                                                        "type": "select",
                                                        "label": "Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "get",
                                                                "head",
                                                                "post",
                                                                "put",
                                                                "patch",
                                                                "delete",
                                                                "options"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Headers"
                                                    },
                                                    {
                                                        "name": "qs",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Query String"
                                                    },
                                                    {
                                                        "name": "bodyType",
                                                        "type": "select",
                                                        "label": "Body type",
                                                        "validate": {
                                                            "enum": [
                                                                "raw",
                                                                "x_www_form_urlencoded",
                                                                "multipart_form_data"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "parseResponse",
                                                        "type": "boolean",
                                                        "label": "Parse response",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "authUser",
                                                        "type": "text",
                                                        "label": "User name"
                                                    },
                                                    {
                                                        "name": "authPass",
                                                        "type": "password",
                                                        "label": "Password"
                                                    },
                                                    {
                                                        "name": "timeout",
                                                        "type": "uinteger",
                                                        "label": "Timeout",
                                                        "validate": {
                                                            "max": 300,
                                                            "min": 1
                                                        }
                                                    },
                                                    {
                                                        "name": "shareCookies",
                                                        "type": "boolean",
                                                        "label": "Share cookies with other HTTP modules",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "ca",
                                                        "type": "cert",
                                                        "label": "Self-signed certificate"
                                                    },
                                                    {
                                                        "name": "rejectUnauthorized",
                                                        "type": "boolean",
                                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "followRedirect",
                                                        "type": "boolean",
                                                        "label": "Follow redirect",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useQuerystring",
                                                        "type": "boolean",
                                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "gzip",
                                                        "type": "boolean",
                                                        "label": "Request compressed content",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useMtls",
                                                        "type": "boolean",
                                                        "label": "Use Mutual TLS",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "contentType",
                                                        "type": "select",
                                                        "label": "Content type",
                                                        "validate": {
                                                            "enum": [
                                                                "text/plain",
                                                                "application/json",
                                                                "application/xml",
                                                                "text/xml",
                                                                "text/html",
                                                                "custom"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "data",
                                                        "type": "buffer",
                                                        "label": "Request content"
                                                    },
                                                    {
                                                        "name": "followAllRedirects",
                                                        "type": "boolean",
                                                        "label": "Follow all redirect",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 16,
                                            "module": "util:SetVariable2",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "name": "contactId",
                                                "scope": "roundtrip",
                                                "value": "{{15.data.contact.id}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 1050,
                                                    "name": "Contact ID"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "scope": {
                                                            "label": "One cycle"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Variable name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "scope",
                                                        "type": "select",
                                                        "label": "Variable lifetime",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "roundtrip",
                                                                "execution"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "any",
                                                        "label": "Variable value"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "contactId",
                                                        "type": "any",
                                                        "label": "contactId"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 17,
                                            "module": "http:ActionSendData",
                                            "version": 3,
                                            "parameters": {
                                                "handleErrors": true,
                                                "useNewZLibDeCompress": true
                                            },
                                            "mapper": {
                                                "ca": "",
                                                "qs": [],
                                                "url": "https://services.leadconnectorhq.com/calendars/events/appointments",
                                                "data": "{\n  \"calendarId\": \"{{2.calendarId}}\",\n  \"locationId\": \"{{2.locationId}}\",\n  \"contactId\": \"{{16.contactId}}\",\n  \"startTime\": \"{{1.message.toolCalls[].function.arguments.requestedAppointment}}\"\n}",
                                                "gzip": true,
                                                "method": "post",
                                                "headers": [
                                                    {
                                                        "name": "Authorization",
                                                        "value": "Bearer {{2.ghlApiKey}}"
                                                    },
                                                    {
                                                        "name": "Version",
                                                        "value": "2021-04-15"
                                                    }
                                                ],
                                                "timeout": "",
                                                "useMtls": false,
                                                "authPass": "",
                                                "authUser": "",
                                                "bodyType": "raw",
                                                "contentType": "application/json",
                                                "serializeUrl": false,
                                                "shareCookies": false,
                                                "parseResponse": false,
                                                "followRedirect": true,
                                                "useQuerystring": false,
                                                "followAllRedirects": false,
                                                "rejectUnauthorized": true
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2400,
                                                    "y": 1050,
                                                    "name": "Book Appointment"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "qs": {
                                                            "mode": "chose"
                                                        },
                                                        "method": {
                                                            "mode": "chose",
                                                            "label": "POST"
                                                        },
                                                        "headers": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null,
                                                                null
                                                            ]
                                                        },
                                                        "bodyType": {
                                                            "label": "Raw"
                                                        },
                                                        "contentType": {
                                                            "label": "JSON (application/json)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "handleErrors",
                                                        "type": "boolean",
                                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useNewZLibDeCompress",
                                                        "type": "hidden"
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "serializeUrl",
                                                        "type": "boolean",
                                                        "label": "Serialize URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "method",
                                                        "type": "select",
                                                        "label": "Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "get",
                                                                "head",
                                                                "post",
                                                                "put",
                                                                "patch",
                                                                "delete",
                                                                "options"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Headers"
                                                    },
                                                    {
                                                        "name": "qs",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Query String"
                                                    },
                                                    {
                                                        "name": "bodyType",
                                                        "type": "select",
                                                        "label": "Body type",
                                                        "validate": {
                                                            "enum": [
                                                                "raw",
                                                                "x_www_form_urlencoded",
                                                                "multipart_form_data"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "parseResponse",
                                                        "type": "boolean",
                                                        "label": "Parse response",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "authUser",
                                                        "type": "text",
                                                        "label": "User name"
                                                    },
                                                    {
                                                        "name": "authPass",
                                                        "type": "password",
                                                        "label": "Password"
                                                    },
                                                    {
                                                        "name": "timeout",
                                                        "type": "uinteger",
                                                        "label": "Timeout",
                                                        "validate": {
                                                            "max": 300,
                                                            "min": 1
                                                        }
                                                    },
                                                    {
                                                        "name": "shareCookies",
                                                        "type": "boolean",
                                                        "label": "Share cookies with other HTTP modules",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "ca",
                                                        "type": "cert",
                                                        "label": "Self-signed certificate"
                                                    },
                                                    {
                                                        "name": "rejectUnauthorized",
                                                        "type": "boolean",
                                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "followRedirect",
                                                        "type": "boolean",
                                                        "label": "Follow redirect",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useQuerystring",
                                                        "type": "boolean",
                                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "gzip",
                                                        "type": "boolean",
                                                        "label": "Request compressed content",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useMtls",
                                                        "type": "boolean",
                                                        "label": "Use Mutual TLS",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "contentType",
                                                        "type": "select",
                                                        "label": "Content type",
                                                        "validate": {
                                                            "enum": [
                                                                "text/plain",
                                                                "application/json",
                                                                "application/xml",
                                                                "text/xml",
                                                                "text/html",
                                                                "custom"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "data",
                                                        "type": "buffer",
                                                        "label": "Request content"
                                                    },
                                                    {
                                                        "name": "followAllRedirects",
                                                        "type": "boolean",
                                                        "label": "Follow all redirect",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 20,
                                                    "module": "gateway:WebhookRespond",
                                                    "version": 1,
                                                    "parameters": {},
                                                    "mapper": {
                                                        "body": "{\n    \"results\": [\n        {\n            \"toolCallId\": \"{{1.message.toolCalls[].id}}\",\n            \"result\": \"Unsuccessful booking, try choosing another date or time.\"\n        }\n    ]\n}",
                                                        "status": "200",
                                                        "headers": []
                                                    },
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 2840,
                                                            "y": 1335,
                                                            "name": "Unsuccessful Booking"
                                                        },
                                                        "restore": {
                                                            "expect": {
                                                                "headers": {
                                                                    "mode": "chose"
                                                                }
                                                            }
                                                        },
                                                        "expect": [
                                                            {
                                                                "name": "status",
                                                                "type": "uinteger",
                                                                "label": "Status",
                                                                "required": true,
                                                                "validate": {
                                                                    "min": 100
                                                                }
                                                            },
                                                            {
                                                                "name": "body",
                                                                "type": "any",
                                                                "label": "Body"
                                                            },
                                                            {
                                                                "name": "headers",
                                                                "spec": [
                                                                    {
                                                                        "name": "key",
                                                                        "type": "text",
                                                                        "label": "Key",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 256
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "Value",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 4096
                                                                        }
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Custom headers",
                                                                "validate": {
                                                                    "maxItems": 16
                                                                }
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "id": 18,
                                            "module": "gateway:WebhookRespond",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "body": "{\n    \"results\": [\n        {\n            \"toolCallId\": \"{{1.message.toolCalls[].id}}\",\n            \"result\": \"We've successfully booked the appointment.\"\n        }\n    ]\n}",
                                                "status": "200",
                                                "headers": []
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 900,
                                                    "name": "Successful Booking"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "headers": {
                                                            "mode": "chose"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "status",
                                                        "type": "uinteger",
                                                        "label": "Status",
                                                        "required": true,
                                                        "validate": {
                                                            "min": 100
                                                        }
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 256
                                                                }
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 4096
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Custom headers",
                                                        "validate": {
                                                            "maxItems": 16
                                                        }
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 36,
                                            "module": "builtin:BasicFeeder",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "array": "{{1.message.artifact.messagesOpenAIFormatted}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3005,
                                                    "y": 832
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "array": {
                                                            "mode": "edit"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "mode": "edit",
                                                        "name": "array",
                                                        "spec": [],
                                                        "type": "array",
                                                        "label": "Array"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 37,
                                            "module": "util:TextAggregator",
                                            "version": 1,
                                            "parameters": {
                                                "feeder": 36,
                                                "rowSeparator": ""
                                            },
                                            "mapper": {
                                                "value": "{{36.content}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3328,
                                                    "y": 788
                                                },
                                                "restore": {
                                                    "extra": {
                                                        "feeder": {
                                                            "label": "Iterator [32]"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "rowSeparator": {
                                                            "label": "Empty"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "rowSeparator",
                                                        "type": "select",
                                                        "label": "Row separator",
                                                        "validate": {
                                                            "enum": [
                                                                "\n",
                                                                "\t",
                                                                "other"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Text"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 38,
                                            "module": "json:TransformToJSON",
                                            "version": 1,
                                            "parameters": {
                                                "space": ""
                                            },
                                            "mapper": {
                                                "object": "{{37.text}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3679,
                                                    "y": 745
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "space": {
                                                            "label": "Empty"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "space",
                                                        "type": "select",
                                                        "label": "Indentation",
                                                        "validate": {
                                                            "enum": [
                                                                "tab",
                                                                "2",
                                                                "4"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "object",
                                                        "type": "any",
                                                        "label": "Object"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 41,
                                            "module": "json:ParseJSON",
                                            "version": 1,
                                            "parameters": {
                                                "type": ""
                                            },
                                            "mapper": {
                                                "json": "{{17.data}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 4132,
                                                    "y": 624
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "type": {
                                                            "label": "Choose a data structure"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "type",
                                                        "type": "udt",
                                                        "label": "Data structure"
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "json",
                                                        "type": "text",
                                                        "label": "JSON string",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 39,
                                            "module": "http:ActionSendData",
                                            "version": 3,
                                            "parameters": {
                                                "handleErrors": true,
                                                "useNewZLibDeCompress": true
                                            },
                                            "mapper": {
                                                "url": "https://services.leadconnectorhq.com/calendars/appointments/{{41.id}}/notes",
                                                "serializeUrl": false,
                                                "method": "post",
                                                "headers": [
                                                    {
                                                        "name": "Authorization",
                                                        "value": "Bearer GHL_API_KEY"
                                                    },
                                                    {
                                                        "name": "Version",
                                                        "value": "2021-04-15"
                                                    }
                                                ],
                                                "qs": [],
                                                "bodyType": "raw",
                                                "parseResponse": false,
                                                "authUser": "",
                                                "authPass": "",
                                                "timeout": "",
                                                "shareCookies": false,
                                                "ca": "",
                                                "rejectUnauthorized": true,
                                                "followRedirect": true,
                                                "useQuerystring": false,
                                                "gzip": true,
                                                "useMtls": false,
                                                "contentType": "application/json",
                                                "data": "{\r\n  \"body\":{{38.json}}\n}",
                                                "followAllRedirects": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 4432,
                                                    "y": 624,
                                                    "name": "Add Notes"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "method": {
                                                            "mode": "chose",
                                                            "label": "POST"
                                                        },
                                                        "headers": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null,
                                                                null
                                                            ]
                                                        },
                                                        "qs": {
                                                            "mode": "chose"
                                                        },
                                                        "bodyType": {
                                                            "label": "Raw"
                                                        },
                                                        "contentType": {
                                                            "label": "JSON (application/json)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "handleErrors",
                                                        "type": "boolean",
                                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useNewZLibDeCompress",
                                                        "type": "hidden"
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "serializeUrl",
                                                        "type": "boolean",
                                                        "label": "Serialize URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "method",
                                                        "type": "select",
                                                        "label": "Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "get",
                                                                "head",
                                                                "post",
                                                                "put",
                                                                "patch",
                                                                "delete",
                                                                "options"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "type": "array",
                                                        "label": "Headers",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "label": "Name",
                                                                "type": "text",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "label": "Value",
                                                                "type": "text"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "qs",
                                                        "type": "array",
                                                        "label": "Query String",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "label": "Name",
                                                                "type": "text",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "label": "Value",
                                                                "type": "text"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "bodyType",
                                                        "type": "select",
                                                        "label": "Body type",
                                                        "validate": {
                                                            "enum": [
                                                                "raw",
                                                                "x_www_form_urlencoded",
                                                                "multipart_form_data"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "parseResponse",
                                                        "type": "boolean",
                                                        "label": "Parse response",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "authUser",
                                                        "type": "text",
                                                        "label": "User name"
                                                    },
                                                    {
                                                        "name": "authPass",
                                                        "type": "password",
                                                        "label": "Password"
                                                    },
                                                    {
                                                        "name": "timeout",
                                                        "type": "uinteger",
                                                        "label": "Timeout",
                                                        "validate": {
                                                            "max": 300,
                                                            "min": 1
                                                        }
                                                    },
                                                    {
                                                        "name": "shareCookies",
                                                        "type": "boolean",
                                                        "label": "Share cookies with other HTTP modules",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "ca",
                                                        "type": "cert",
                                                        "label": "Self-signed certificate"
                                                    },
                                                    {
                                                        "name": "rejectUnauthorized",
                                                        "type": "boolean",
                                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "followRedirect",
                                                        "type": "boolean",
                                                        "label": "Follow redirect",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useQuerystring",
                                                        "type": "boolean",
                                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "gzip",
                                                        "type": "boolean",
                                                        "label": "Request compressed content",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useMtls",
                                                        "type": "boolean",
                                                        "label": "Use Mutual TLS",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "contentType",
                                                        "type": "select",
                                                        "label": "Content type",
                                                        "validate": {
                                                            "enum": [
                                                                "text/plain",
                                                                "application/json",
                                                                "application/xml",
                                                                "text/xml",
                                                                "text/html",
                                                                "custom"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "data",
                                                        "type": "buffer",
                                                        "label": "Request content"
                                                    },
                                                    {
                                                        "name": "followAllRedirects",
                                                        "type": "boolean",
                                                        "label": "Follow all redirect",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 30,
                        "module": "builtin:BasicAggregator",
                        "version": 1,
                        "parameters": {
                            "feeder": 29
                        },
                        "mapper": {
                            "message": "{{29.message}}"
                        },
                        "metadata": {
                            "designer": {
                                "x": 3032,
                                "y": -449,
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Tools - Set multiple variables' [29] is not accessible."
                                    },
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    },
                                    {
                                        "category": "last",
                                        "severity": "warning",
                                        "message": "A transformer should not be the last module in the route."
                                    }
                                ]
                            },
                            "restore": {
                                "extra": {
                                    "feeder": {
                                        "label": "Tools - Set multiple variables [29]"
                                    },
                                    "target": {
                                        "label": "Custom"
                                    }
                                }
                            }
                        }
                    }
                ]
            ]
        },
        "zone": "us2.make.com",
        "notes": []
    }
}